.u-section-1 .u-sheet-1 {
  min-height: 739px;
}

.u-section-1 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-1 .u-list-1 {
  width: 899px;
  margin: 30px auto 60px 110px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 169px;
}

.u-section-1 .u-list-item-1 {
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-image-1 {
  width: 99px;
  height: 99px;
  margin: 33px auto 0;
}

.u-section-1 .u-text-2 {
  width: 58px;
  margin: -132px auto 0;
}

.u-section-1 .u-list-item-2 {
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-image-2 {
  width: 99px;
  height: 99px;
  margin: 33px auto 0;
}

.u-section-1 .u-text-3 {
  width: 58px;
  margin: -132px auto 0;
}

.u-section-1 .u-list-item-3 {
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-image-3 {
  width: 99px;
  height: 99px;
  margin: 33px auto 0;
}

.u-section-1 .u-text-4 {
  width: 58px;
  margin: -132px auto 0;
}

.u-section-1 .u-list-item-4 {
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-image-4 {
  width: 99px;
  height: 99px;
  margin: 33px auto 0;
}

.u-section-1 .u-text-5 {
  width: 58px;
  margin: -132px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-left: 41px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 541px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}